@font-face {
  font-family: Vazir-Medium;
  src: url(../fonts/Vazir-Medium.eot) format("eot"), url(../fonts/Vazir-Medium.woff) format("woff"), url(../fonts/Vazir-Medium.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
}
* {
  font-family: Vazir-Medium;
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(46, 46, 46);
}

.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}

.row {
  display: flex;
  justify-content: center;
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}

.mt-250, #course {
  margin-top: 250px;
}

#nav .navbar {
  font-size: 16px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 24px 0 24px 0;
}
#nav .navbar ul li {
  position: relative;
  display: inline-block;
  line-height: 60px;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
}
#nav .navbar ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: rgb(54, 114, 228);
  transition: all 0.5s ease;
}
#nav .navbar ul li:hover::after {
  width: 100%;
}
#nav .navbar ul li a {
  transition: all 0.5s ease;
}
#nav .navbar ul li:hover a {
  color: rgb(83, 131, 221);
}
#nav .navbar span.social-icons {
  direction: ltr;
  padding: 21px 0 0 0;
}
#nav .navbar span.social-icons a {
  color: rgb(46, 46, 46);
  padding: 0 5px 0 5px;
}
#nav .navbar span.social-icons a i {
  transition: all 0.5s ease;
}
#nav .navbar span.social-icons a:hover i {
  color: rgb(83, 131, 221);
}

#header header {
  width: 100%;
  padding: 100px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#header header .right {
  display: flex;
  flex-basis: flex-basis;
  max-width: 67%;
  position: relative;
}
#header header .right .grear-1 {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 40px;
  color: rgb(107, 107, 107);
  animation: gear-1 13s linear infinite;
}
@keyframes gear-1 {
  100% {
    transform: rotate(360deg);
  }
}
#header header .right .grear-2 {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 20px;
  color: rgb(78, 78, 78);
  animation: gear-2 13s linear infinite;
}
@keyframes gear-2 {
  100% {
    transform: rotate(-360deg);
  }
}
#header header .right .sq-1 {
  position: absolute;
  top: 0;
  left: 80px;
  width: 20px;
  height: 20px;
  border: 4px solid #efefef;
  animation: sq-1 15s infinite linear;
}
@keyframes sq-1 {
  100% {
    transform: rotate(360deg);
  }
}
#header header .right .sq-2 {
  position: absolute;
  bottom: -20px;
  left: 130px;
  width: 40px;
  height: 40px;
  border: 4px solid #ff7373;
  animation: sq-2 35s infinite linear;
}
@keyframes sq-2 {
  100% {
    transform: rotate(-360deg);
  }
}
#header header .right .sq-3 {
  position: absolute;
  bottom: -5px;
  right: 80px;
  width: 30px;
  height: 30px;
  border: 4px solid #efefef;
  animation: sq-3 15s infinite linear;
}
@keyframes sq-3 {
  100% {
    transform: rotate(360deg);
  }
}
#header header .left {
  display: flex;
  flex-basis: flex-basis;
  max-width: 33%;
  margin: 17% 0 0 0;
}
#header header .left h1 {
  font-size: 34px;
  margin: 0 0 30px 0;
}

#course {
  position: relative;
}
#course .pipe {
  position: absolute;
  width: 1726px;
  height: 370px;
  background-color: rgba(231, 231, 231, 0.8);
  top: 83px;
  left: -256px;
  border-radius: 0 250px 250px 0;
}
#course .row .course {
  flex-direction: column;
  display: flex;
  flex-basis: flex-basis;
  max-width: 30%;
  background-color: white;
  position: relative;
  border-bottom: 4px solid red;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  margin: 0 16px 0 16px;
  transition: box-shadow 0.5s ease;
}
#course .row .course:hover {
  box-shadow: 0 0 13px 0 rgba(151, 151, 151, 0.5);
}
#course .row .course:hover .teacher {
  top: -54px;
}
#course .row .course:hover .teacher-name {
  width: 200px;
}
#course .row .course .status {
  position: absolute;
  font-size: 12px;
  left: 10px;
  top: 10px;
  background-color: rgba(45, 125, 222, 0.5);
  color: white;
  padding: 2px 6px 2px 6px;
  border-radius: 2px 2px 2px 2px;
}
#course .row .course img.teacher {
  position: absolute;
  top: -34px;
  right: 9px;
  width: 54px;
  z-index: -1;
  transition: top 1s ease;
}
#course .row .course .teacher-name {
  position: absolute;
  top: -30px;
  right: 70px;
  font-size: 13px;
  z-index: -2;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 1s ease;
}
#course .row .course a {
  margin: 10px 10px 10px 10px;
  font-size: 18px;
  color: rgb(46, 46, 46);
}
#course .row .course .meta {
  display: flex;
  margin: 0 10px 0 10px;
  padding: 16px 0px 12px 0px;
  border-top: 1px solid #efefef;
}
#course .row .course .meta .clock {
  margin: 0 0px 0 auto;
}
#course .row .course .meta .clock i {
  color: #45a1ff;
  font-size: 14px;
  margin: 0 0px 0 3px;
}
#course .row .course .meta span:nth-child(2) {
  font-size: 14px;
  padding: 0 8px 0 8px;
  color: #37b537;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#path .path {
  display: flex;
  justify-content: space-between;
  margin: 0px auto 100px auto;
}
#path .path .right-side {
  display: flex;
  flex-basis: flex-basis;
  max-width: 50%;
}
#path .path .left-side {
  display: flex;
  flex-basis: flex-basis;
  max-width: 45%;
}
#path .path .left-side .path-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#path .path .left-side .path-title h2 {
  font-size: 26px;
  margin-bottom: 34px;
  color: rgb(46, 46, 46);
}
#path .path .left-side .path-title p {
  font-size: 18px;
  line-height: 42px;
  color: #868383;
}

#topic {
  position: relative;
}
#topic::after, #topic::before {
  position: absolute;
  background-color: rgba(177, 173, 173, 0.08);
  width: 200px;
  content: "";
  bottom: 90px;
  left: -230px;
  height: 250px;
  transform: skewX(10deg);
  border-radius: 0 20px 50px 0;
}
#topic::before {
  bottom: 189px;
  left: -220px;
}
#topic .topic-title {
  font-size: 26px;
  margin-bottom: 30px;
  border-right: 5px solid red;
  padding: 0 10px 0 0;
}
#topic .topic {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}
#topic .topic .card {
  display: flex;
  flex-basis: flex-basis;
  max-width: 49%;
  border: 1px solid #efefef;
  border-radius: 3px 3px 3px 3px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#topic .topic .card:hover .topic-img::after {
  opacity: 0.6;
}
#topic .topic .card .topic-img {
  display: flex;
  flex-basis: flex-basis;
  max-width: 30%;
  overflow: hidden;
  position: relative;
}
#topic .topic .card .topic-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
#topic .topic .card .topic-details {
  display: flex;
  flex-basis: flex-basis;
  max-width: 70%;
  flex-direction: column;
  padding: 22px 22px 22px 22px;
  position: relative;
}
#topic .topic .card .topic-details::after {
  content: "";
  width: 37px;
  height: 148%;
  background-color: white;
  position: absolute;
  top: -25px;
  right: -23px;
  transform: rotate(5deg);
}
#topic .topic .card .topic-details a {
  font-size: 18px;
}
#topic .topic .card .topic-details .meta {
  font-size: 12px;
  margin-top: 15px;
  color: #ccc;
  margin: 15px 0 0 0;
}
#topic .topic .card .topic-details .meta span {
  margin: 0 0 0 16px;
}
#topic .topic .card .topic-details p {
  font-size: 14px;
  margin: 20px 0 0 0;
  line-height: 30px;
  color: #757575;
}

#footer {
  padding: 80px 0 0 0;
  background-color: #353731;
}
#footer .container .footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#footer .container .footer .side-1 {
  display: flex;
  flex-basis: flex-basis;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#footer .container .footer .side-1 h5 {
  color: white;
  margin: 0 0 32px 0;
}
#footer .container .footer .side-1 ul {
  font-size: 15px;
  margin: 0 0 40px 0;
}
#footer .container .footer .side-1 ul li {
  margin: 0 0 18px 0;
  color: #cacaca;
}
#footer .container .footer .side-1 ul li i {
  margin: 0 0 0 12px;
}
#footer .container .footer .side-2 {
  display: flex;
  flex-basis: flex-basis;
  max-width: 30%;
}
#footer .container .footer .side-2 ul {
  font-size: 15px;
  margin: 0 0 0 40px;
}
#footer .container .footer .side-2 ul li {
  margin: 0 0 0 16px;
}
#footer .container .footer .side-2 ul li a {
  color: #cacaca;
  transition: color 0.5s ease;
}
#footer .container .footer .side-2 ul li a:hover {
  color: yellow;
}
#footer .container .footer .side-3 {
  display: flex;
  flex-basis: flex-basis;
  max-width: 30%;
  flex-direction: column;
}
#footer .container .footer .side-3 p {
  color: white;
  margin: 0 0 26px 0;
  font-size: 16px;
  color: yellow;
  width: 100%;
  text-align: center;
}
#footer .container .footer .side-3 form {
  position: relative;
}
#footer .container .footer .side-3 form input.email {
  width: 100%;
  height: 35px;
  padding: 10px 10px 10px 10px;
  border: 0;
  border-radius: 5px 5px 5px 5px;
  outline: 0;
}
#footer .container .footer .side-3 form .submit {
  position: absolute;
  top: 8px;
  left: 10px;
  border: 0;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  transition: color 0.5s ease;
}
#footer .container .footer .side-3 form .submit:hover {
  color: rgb(63, 130, 247);
}
#footer .copyright {
  background-color: 2b2d30;
  text-align: center;
  padding: 30px 0 30px 0;
  color: #cacaca;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */